<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Credit
    <small>History</small>
  </h1>
</section>

<div class="row content">
  <div class="col-xs-12">
    <div class="box">
            <!-- <div class="box-header">
              <h3 class="box-title">Reviews</h3>
            </div> -->
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Restaurant Name</th>
                    <th>Restaurant Location</th>
                    <th>Price</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <% @history.each do |us| %>
                    <tr>
                      <td><%= us.user.email %></td>
                      <td><%= us.restaurant.name %></td>
                      <td><%= us.restaurant.location %></td>
                      <td><%= us.price %></td>
                      <td><%= us.created_at.strftime('%H:%M %F') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </div>
</div>