<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    End Users
    <small></small>
  </h1>
</section>

<div class="row content">
  <div class="col-xs-12">
    <div class="box">
            <!-- <div class="box-header">
              <h3 class="box-title">Reviews</h3>
            </div> -->
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Verified</th>
                    <th>Credit</th>
                    <th>Block</th>
                    <th>Give Credit</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @user.each do |us| %>
                      <% editi = "give_credit" + us.id.to_s %>
                      <tr>
                        <td><%= us.name %></td>
                        <td><%= us.username %></td>
                        <td><%= us.email %></td>
                        <td><%= us.gender %></td>
                        <td><%= us.verified ? 'Yes' : 'No' %></td>
                        <td><%= us.credit.present? ? us.credit.points : 0%></td>
                        <td><% if us.block  %>
                              <%= link_to "Yes" , unblock_user_path(us.id) %>
                            <% else  %>
                              <%= link_to "No" , block_user_path(us.id) %>
                            <% end  %>
                        </td>
                        <td><%= link_to "Enter", "#"+editi, "data-toggle" => "modal" %></td>
                      </tr>

                      <!-- Modal -->
                      <div class="modal fade" id="<%= editi %>" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Give Credit</h4>
                            </div>
                            <div class="modal-body">
                             <%= form_tag(sent_credits_path , method: "post" , :multipart => true) do %>
                              <%= hidden_field_tag(:user_id, us.id) %> 
                                <div class="box-body">
                                  <div class="form-group">
                                    <%= label_tag 'credit', 'Credit'%>
                                    <%= number_field_tag :credit , '' , class: 'form-control', autofocus: true %>
                                  </div>
                                </div>                    
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <%= submit_tag "Done" , class: 'btn btn-default' %>
                              <% end %> 
                            </div>
                          </div>
                          
                        </div>
                      </div>


                    <% end %>
                  </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </div>
</div>