<div class="col-md-6 col-md-offset-3">
  <h3>Give Credits</h3>
          
    <%= form_tag(sent_credits_path , method: "post") do %>
      <div class="box-body">
        <div class="form-group">
          <%= label_tag 'email', 'Email'%>
          <%= text_field_tag :email , '' , class: 'form-control', autofocus: true %>
        </div>
        <div class="form-group">
          <%= label_tag 'credit', 'Credits'%>
          <%= number_field_tag :credit, '' , class: 'form-control' %>
        </div>
      </div>              

      <div class="box-body">
        <%= submit_tag "Done" , class: 'btn btn-default' %>
      </div>
        <% end %> 

</div>