<div class="col-md-6 col-md-offset-3">
  <h3>Latest Andriod Version</h3>
          
    <%= form_tag(set_version_path , method: "post", 'data-no-turbolink' => true) do %>
      <div class="box-body">
        <div class="form-group">
          <%= label_tag 'version', 'Version'%>
          <%= text_field_tag :version , @version.version , class: 'form-control', autofocus: true %>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <%= label_tag 'force', 'Force Update '%>
          <%= check_box_tag 'force', "yes" , @version.force %>
        </div>
      </div>              

      <div class="box-body">
        <%= submit_tag "Done" , class: 'btn btn-default' %>
      </div>
        <% end %> 

</div>