<section class="content-header">
  <h1>
    <%= @restaurant.name %>
    <small >QR Code</small>
    <small style="float: right;"><%= link_to 'Back' , restauarant_owner_details_path(@restaurant.id) , class: 'btn btn-info' %></small>
    <small style="float: right;"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#gen_qr_code">Generate QR Code</button></small>
  </h1>
</section>

<!-- Modal -->
  <div class="modal fade" id="gen_qr_code" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Generate QR Code</h4>
        </div>
        <div class="modal-body">
          <%= form_tag(qrcode_create_rest_admin_path(@restaurant.id) , method: "post" , :multipart => true) do %>
            <div class="box-body">
              <div class="form-group">
                <%= label_tag 'points', 'Points'%>
                <%= number_field_tag :points , '' , class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <%= label_tag 'description', 'Description'%>
                <%= text_field_tag :description , '' , class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <%= label_tag 'max_credit', 'Max Credit'%>
                <%= number_field_tag :max_credit , '' , class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <%= label_tag 'image', 'Offer Image'%>
                <%= file_field "image", "image"%>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Generate" , class: 'btn btn-default' %>
          <% end %> 
        </div>
      </div>
      
    </div>
  </div>


<div class="row content">
  <div class="col-xs-12">
    <div class="box">
            <div class="box-header">
              <h3 class="box-title">QR Code</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <% if @qrcode.count == 0 %>
                No, QR code present.
              <% end %>
              <% count = 0 %>
              <% @qrcode.each do |code|%>
                <% count = count + 1 %>
                <div class = "col-sm-6 col-md-4" style="margin-bottom: 30px;">
                  <div class = "thumbnail">
                     <img src = "<%= code.offer_image ? code.offer_image.image_url : '' %>" alt = "QR Code">
                  </div>
                  
                  <div class = "caption">
                     <h3>Description</h3>
                     <p><%= code.description.truncate(45) %></p>
                     <p>Points: <%= code.points %></p>
                     
                     <p style="text-align: center;">
                      <a href="<%= code.img.split('public')[1] %>" download="<%= code.code %>.png" class='btn btn-primary'>Download</a>
                      <a href="<%= qrcodes_detail_rest_admin_path(code.id) %>" class='btn btn-primary'>Detail</a>
                      <a href="<%= qrcodes_destroy_rest_admin_path(code.id) %>" class='btn btn-danger'>Delete</a>
                     </p>
                     
                  </div>
               </div>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  </div>
</div>
