<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/rating.css" type="text/css">

<div id="wrapper">
	<header class="header" role="main">
        <nav class="nav-top" style="position:inherit">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-8 col-sm-8 col-xs-12">
        				<div class="logo">
            				<a href="#"><img src="img/logo_03.png" alt="image descraption"></a>
            			</div>
                	</div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<a href="#"><span class="food" style="margin-left:150px"><span>Foot Pandits</span></span></a>
                    	<a href="<%= signin_path %>"><span class="login"><span>Login</span></span></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        	<div class="d-banner">
                <form role="form" class="a-search-form">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Search for Resturant, Dishes & Foodies ">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">search</button>
                        </span>
                    </div>
                </form>
            	<div class="row">
                	<div class="col-md-6">
                        <section class="section-left">
                            <img src="img/arooba.png" alt="image descrp">
                            <h1 id="p_name"><%= @user.name %></h1>
                            <h2><%= @user.location.present? ? @user.location : "Locating" %></h2><br>
                            <span><%= @reviews.count %> Reviews</span>
                            <span><%= @photos.count %> Photo</span><br>
                            <span><%= @followings.count %> Following</span>
                            <span><%= @followers.count %> Followers</span>
                            <a href="#">Following</a>
                        </section>
                    </div>
                    <div class="col-md-6">
                    	<section class="section-right">
                        	<a href="#">Foodie Lavel</a>
                            <strong>Big Foodie</strong>
                            <section class="container">
        <input type="radio" name="example" class="rating" value="1" />
        <input type="radio" name="example" class="rating" value="2" />
        <input type="radio" name="example" class="rating" value="3" />
        <input type="radio" name="example" class="rating" value="4" />
        <input type="radio" name="example" class="rating" value="5" />
    </section>
                        </section>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                		<ul class="nav navbar-default">
                            <li>
                            	<a href="#"><img src="img/nav-icon01.png">Home</a>
                            </li>
                            <li>
                            	<a href="#"><img src="img/nav-icon02.png">Photo</a>
                            </li>
                            <li>
                            	<a href="#"><img src="img/nav-icon03.png">Followers</a>
                            </li>
                            <li>
                            	<a href="#"><img src="img/nav-icon04.png">Been There</a>
                            </li>
                            <li>
                            	<a href="#"><img src="img/nav-icon05.png">Bookmark</a>
                            </li>
                        </ul>
                	</div>
                </div>
            </div>
            <section class="section">
            	<div class="section-border">
                    <div class="section-pan">
                        <div class="row">
                            <div class="col-md-12">
                                <h1><%= @user.name %>'s Reviews</h1>
                                <div class="section-article">
                                    <img src="img/chekin-krahi.png" alt="image descrp">
                                    <h2>Chicken Karahi</h2>
                                    <p>Casa Biaca, Lahore</p>
                                 </div>
                                <h3>2 hours ago</h3>
                                <p><b>Rated</b> <em>5.0</em> klfjnldsfhasdfuhofua oh aofu haiouf paf8 oafhiur yawefna,ioafhuf a8ou hiauf 8y fjka faagudfaifuah dih afahsdfui hfuiahduifhlajhaouiy oigefowefio uf aiou fhuio fdasuiof afa ffa fa o9fy89e ryaw89 fafa8o faui8ofhuif a8ofifga8o fhaofhifr9w8  r8ro  u fafsuigfif hk asdfusadui fof asiof safhasdi  afiasdiuf of iusfa s</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="button" class="form-control-like" value="Like">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control-comment" placeholder="Comment">
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><img src="img/share-icon.png"></a>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="img/arooba-coment.png">
                                        </div>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control-coment" placeholder="Write a comment... Use @ to tag your friends">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-pan">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Arooba Khalid's Reviews</h1>
                                <div class="section-article">
                                    <img src="img/chekin-krahi.png" alt="image descrp">
                                    <h2>Chicken Karahi</h2>
                                    <p>Casa Biaca, Lahore</p>
                                 </div>
                                <h3>2 hours ago</h3>
                                <p><b>Rated</b> <em>5.0</em> klfjnldsfhasdfuhofua oh aofu haiouf paf8 oafhiur yawefna,ioafhuf a8ou hiauf 8y fjka faagudfaifuah dih afahsdfui hfuiahduifhlajhaouiy oigefowefio uf aiou fhuio fdasuiof afa ffa fa o9fy89e ryaw89 fafa8o faui8ofhuif a8ofifga8o fhaofhifr9w8  r8ro  u fafsuigfif hk asdfusadui fof asiof safhasdi  afiasdiuf of iusfa s</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="button" class="form-control-like" value="Like">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control-comment" placeholder="Comment">
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><img src="img/share-icon.png"></a>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="img/arooba-coment.png">
                                        </div>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control-coment" placeholder="Write a comment... Use @ to tag your friends">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            </div>
            <footer class="footer">
            	<div class="container">
                	<div class="footer-border">
                        <div class="footer-iner">
                            <div class="row">
                                <div class="col-md-3 col-sm-2 col-xs-12">
                                	<h2>Businesses</h2>
                                    <span>Add a Restaurant</span>
                                    <span>Claim your Listing</span>
                                    <span>Business App</span>
                                    <span>Restaurant Widgetst</span>
                                    <span>Guidelines</span>
                                    <span>Business Blog</span>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                	<h2><br></h2>
                                    <span>Advertise</span>
                                    <span>Book</span>
                                    <span>Order</span>
                                    <span>Base</span>
                                    <span>Whitelabel</span>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                	<h2>Countries</h2>
                                    <span>Australia</span>
                                    <span>Brasil</span>
                                    <span>Canada</span>
                                    <span>Chile</span>
                                    <span>Czech Republic</span>
                                    <span>India</span>
                                    <span>Indonesia</span>
                                    <span>Ireland</span>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                	<h2><br></h2>
                                    <span>Itly</span>
                                    <span>Lebanon</span>
                                    <span>Malaysia</span>
                                    <span>New Zealand</span>
                                    <span>Philippines</span>
                                    <span>Poland</span>
                                    <span>Portugal</span>
                                    <span>Qatar</span>
                                </div>
                                <div class="col-md-3 col-sm-2 col-xs-12">
                                	<h2><br></h2>
                                    <span>Slovakia</span>
                                    <span>South Africa</span>
                                    <span>Sri Lanka</span>
                                    <span>Turkey</span>
                                    <span>UAE</span>
                                    <span>United Kingdom</span>
                                    <span>United States</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
</div>

<script type="text/javascript">
	$(function(){
		$('.container').rating();
	});
</script>